@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Dancing Script');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans:600');

* {
  padding: 0%;
  margin: 0%;
}

body {
  display: flex;
  font-size: 16px;
  min-height: 100vh;
  user-select: none;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  -webkit-user-select: none;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

::-webkit-scrollbar {
  display: none;
}

#quote {
  color: white;
  font-size: 2rem;
  margin-bottom: 0em;
  margin-top: 0em;
  font-family: 'Dancing Script';
}

#birthdaywishee {
  color: white;
  font-size: 4rem;
  margin-bottom: 0em;
  margin-top: 0em;
  font-family: 'Lobster';
}

#birthdaywisher {
  color: white;
  margin-top: 0.75em;
  font-family: "josefin sans", sans serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}